
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: white; 
}

.navbar{
  display:flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 40px; 
  background-color: #0f172a; 
  color: white; 
}

.logo{
  font-family: 'Georgia', serif; 
  font-size: 1.5rem; 
  font-weight: 700; 
  color: white; 
}

.nav-links {
  display: flex; 
  list-style: none; 
  gap: 24px; 

}

.nav-links a{
  color: white;
  text-decoration: none;
  font-weight: 500; 
}

.nav-links a:hover{
  color: #38bdf8;
}
